* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(62.5% + 2px + (100vw / 400));
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  height: 100%;
}

body {
  -webkit-tap-highlight-color: transparent;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  height: 100%;
}

  header,
  footer,
  main,
  section {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
    @media (min-width: 768px) {
      header,
      footer,
      main,
      section {
        padding-left: 8rem;
        padding-right: 8rem;
      }
    }
    @media (min-width: 1024px) {
      header,
        footer,
        main,
        section {
          padding-left: 12rem;
          padding-right: 12rem;
        }
    }
    @media (min-width: 1536px) {
      header,
      footer,
      main,
      section {
        padding-left: 18rem;
        padding-right: 18rem;
      }
    }

  main,
  section {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
      }

